<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="index.js"></script>
</head>
<body>
<div>
  <h1>Ticket Finder</h1> 
  <p class="Ticket"> The ticket will go here </p>
  <p><button id="getTicket"> Get Ticket </button></p>
  <form id="apiform">

    <input type="text" name="ticket_date" placeholder="ticket_date" ><br>
    <input type="text" name="user_email" placeholder="user_email" ><br>
    <input type="text" name="user_full_name" placeholder="user_full_name" ><br>
    <input type="text" name="user_phone" placeholder="user_phone" ><br>
    <input type="text" name="ticket_title" placeholder="ticket_title" ><br>
    <input type="text" name="ticket_description" placeholder="ticket_description" ><br>
    <input type="text" name="ticket_status_id" placeholder="ticket_status_id" ><br>
    <br>

    <button id="postTicket"> Insert Ticket </button>

</form>
</div>
<div>
    <h1>Update Ticket</h1> 
  <p class="Ticket"> The ticket will go here </p>
  <p><button id="getTicket"> Get Ticket </button></p>
  <form id="apiform">

    <input type="text" name="ticket_id" placeholder="ticket_id" ><br>
    <input type="text" name="status_id" placeholder="status_id" ><br>
    <br>
  </div>
</body>
</html>